---
layout: default
title: 6-12
---
<html>
    <body>
        {% include dnd/6-12-1.html %}
        <div class="hero-container">
            <h1>Izaberi svog heroja/heroinu</h1>
            <div class="slides-container">
                <ul class="slides"><img id="hero" src="assets/images/hero.png" alt="" />
                    <li id="slide1">
                        <div class="hero-ability-container">
                            <p class="hero-ability">
                                <img src="assets/images/sword.png" alt="">Attack: 100/100
                            </p>
                            <p class="hero-ability">
                                <img src="assets/images/shield.png" alt="">Defence: 80/100
                            </p>
                            <p class="hero-ability">
                                <img src="assets/images/charisma.png" alt="">Charisma: 80/100
                            </p>
                        </div>
                        <div class="hero-image-button-container">
                            <img src="assets/images/hero-1.png" alt="" />
                            <!-- <div class="choose-hero-button-container-sm">
                                <a href="/scena-1.html" target="_self">
                                    <button type="button" class="choose-hero-button hero-1-button">Izaberi mene</button>
                                </a>
                            </div> -->
                        </div>
                        <div class="special-ability-container">
                            <p class="hero-ability">
                                <img src="assets/images/special.png" alt="">Special ability:<div class="quote">Mogu da kažem NE</div>
                            </p>
                            <a href="/scena-1.html" target="_self">
                                <button type="button" class="choose-hero-button hero-1-button">Izaberi mene</button>
                            </a>
                        </div>
                    </li>
                    <li id="slide2">
                        <div class="hero-ability-container">
                            <p class="hero-ability">
                                <img src="assets/images/sword.png" alt="">Attack: 80/100
                            </p>
                            <p class="hero-ability">
                                <img src="assets/images/shield.png" alt="">Defence: 100/100
                            </p>
                            <p class="hero-ability">
                                <img src="assets/images/charisma.png" alt="">Charisma: 80/100
                            </p>
                        </div>
                        <div class="hero-image-button-container">
                            <img src="assets/images/hero-2.png" alt="" />
                            <!-- <div class="choose-hero-button-container-sm">
                                <a href="/scena-2.html" target="_self">
                                    <button type="button" class="choose-hero-button hero-2-button">Izaberi mene</button>
                                </a>
                            </div> -->
                        </div>
                        <div class="special-ability-container">
                            <p class="hero-ability">
                                <img src="assets/images/special.png" alt="">Special ability:<div class="quote"> Ja mogu da budem jak</div>
                            </p>
                            <a href="/scena-2.html" target="_self">
                                <button type="button" class="choose-hero-button hero-2-button">Izaberi mene</button>
                            </a>
                        </div>
                    </li>
                    <li id="slide3">
                        <div class="hero-ability-container">
                            <p class="hero-ability">
                                <img src="assets/images/sword.png" alt="">Attack: 90/100
                            </p>
                            <p class="hero-ability">
                                <img src="assets/images/shield.png" alt="">Defence: 90/100
                            </p>
                            <p class="hero-ability">
                                <img src="assets/images/charisma.png" alt="">Charisma: 80/100
                            </p>
                        </div>
                        <div class="hero-image-button-container">
                            <img src="assets/images/hero-3.png" alt="" />
                            <!-- <div class="choose-hero-button-container-sm">
                                <a href="/scena-3.html" target="_self">
                                    <button type="button" class="choose-hero-button hero-3-button">Izaberi mene</button>
                                </a>
                            </div> -->
                        </div>
                        <div class="special-ability-container">
                            <p class="hero-ability">
                                <img src="assets/images/special.png" alt="">Special ability:<div class="quote"> Ja mogu da pomognem</div>
                            </p>
                            <div class="choose-hero-button-container">
                                <a href="/scena-3.html" target="_self">
                                    <button type="button" class="choose-hero-button hero-3-button">Izaberi mene</button>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li id="slide4">
                        <div class="hero-ability-container">
                            <p class="hero-ability">
                                <img src="assets/images/sword.png" alt="">Attack: 80/100
                            </p>
                            <p class="hero-ability">
                                <img src="assets/images/shield.png" alt="">Defence: 80/100
                            </p>
                            <p class="hero-ability">
                                <img src="assets/images/charisma.png" alt="">Charisma: 100/100
                            </p>
                        </div>
                        <div class="hero-image-button-container">
                            <img src="assets/images/hero-4.png" alt="" />
                            <!-- <div class="choose-hero-button-container-sm">
                                <a href="/scena-4.html" target="_self">
                                    <button type="button" class="choose-hero-button hero-4-button">Izaberi mene</button>
                                </a>
                            </div> -->
                        </div>
                        <div class="special-ability-container">
                            <p class="hero-ability">
                                <img src="assets/images/special.png" alt="">Special ability:<div class="quote"> Ja mogu da budem OK</div>
                            </p>
                            <a href="/scena-4.html" target="_self">
                                <button type="button" class="choose-hero-button hero-4-button">Izaberi mene</button>
                            </a>
                        </div>
                    </li>
                    <li id="slide5">
                        <div class="hero-ability-container">
                            <p class="hero-ability">
                                <img src="assets/images/sword.png" alt="">Attack: 80/100
                            </p>
                            <p class="hero-ability">
                                <img src="assets/images/shield.png" alt="">Defence: 90/100
                            </p>
                            <p class="hero-ability">
                                <img src="assets/images/charisma.png" alt="">Charisma: 90/100
                            </p>
                        </div>
                        <div class="hero-image-button-container">
                            <img src="assets/images/hero-5.png" alt="" />
                            <!-- <div class="choose-hero-button-container-sm">
                                <a href="/scena-5.html" target="_self">
                                    <button type="button" class="choose-hero-button hero-5-button">Izaberi mene</button>
                                </a>
                            </div> -->
                        </div>
                        <div class="special-ability-container">
                            <p class="hero-ability">
                                <img src="assets/images/special.png" alt="">Special ability:<div class="quote"> Ja mogu da pričam o svemu</div>
                            </p>
                            <a href="/scena-5.html" target="_self">
                                <button type="button" class="choose-hero-button hero-5-button">Izaberi mene</button>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
            <div id="thumbnailContainer" class="thumbnail-container">
                <ul id="thumbnailList" class="thumbnails">
                    <li>
                        <a href="#slide1">
                            <img src="assets/images/hero-1.png" class="thumbnail-hero" id="thumbnail-hero-1"; onmouseover="this.src='/assets/images/hero-showing-1.png';" onmouseout="this.src='assets/images/hero-1.png';"/>
                        </a>
                        <div class="hero-subtitle-container hero-subtitle-color-1"><a href="#slide1">Ja mogu da kažem ne</a></div>
                    </li>
                    <li>
                        <a href="#slide2">
                            <img src="assets/images/hero-2.png" class="thumbnail-hero" id="thumbnail-hero-2"; onmouseover="this.src='/assets/images/hero-showing-2.png';" onmouseout="this.src='assets/images/hero-2.png';"/>
                        </a>
                        <div class="hero-subtitle-container hero-subtitle-color-2"><a href="#slide2">Ja mogu da budem jak</a></div>
                    </li>
                    <li>
                        <a href="#slide3">
                            <img src="assets/images/hero-3.png" class="thumbnail-hero" id="thumbnail-hero-3"; onmouseover="this.src='/assets/images/hero-showing-3.png';" onmouseout="this.src='assets/images/hero-3.png';"/>
                        </a>
                        <div class="hero-subtitle-container  hero-subtitle-color-3"><a href="#slide3">Ja mogu da pomognem</a></div>
                    </li>
                    <li>
                        <a href="#slide4">
                            <img src="assets/images/hero-4.png" class="thumbnail-hero" id="thumbnail-hero-4"; onmouseover="this.src='/assets/images/hero-showing-4.png';" onmouseout="this.src='assets/images/hero-4.png';"/>
                        </a>
                        <div class="hero-subtitle-container  hero-subtitle-color-4"><a href="#slide4">Ja mogu da budem OK</a></div>
                        </li>
                    <li>
                        <a href="#slide5">
                            <img src="assets/images/hero-5.png" class="thumbnail-hero" id="thumbnail-hero-5"; onmouseover="this.src='/assets/images/hero-showing-5.png';" onmouseout="this.src='assets/images/hero-5.png';"/>
                        </a>
                        <div class="hero-subtitle-container  hero-subtitle-color-5"><a href="#slide5">Ja mogu da pričam o svemu</a></div>
                    </li>
                </ul>
            </div>
        </div>

        <hr class="solid">

        <div class="information-container">
            <h2 class="information-title">Informacije i saveti</h2>
            <div class="blog-page-container">
                <div class="grid-container">
                    <ul>
                      {% assign filtered_posts = site.posts | where: 'category_name', 'deca' %}
                      {% for post in filtered_posts limit: 8 %}
                        <div class="single-post-container">
                            <li>
                              <a href="{{ post.url }}">
                                <img class="blog-page-post-image" src="{{ post.thumbnail }}" alt="">
                              </a>
                              <div class="title-date-container">
                                <div class="post-date-container">
                                  {{ post.date | date_to_string }}
                                </div>
                                <h2 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
                              </div>
                              <div class="read-more-container-kids">
                                <p class="read-more"><a href="{{ post.url }}">Pročitaj članak ></a></p>
                              </div>
                            </li>
                          </div>
                      {% endfor %}
                    </ul>
                </div>
              </div>
            </div>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                var url = window.location.href;

                if (url.includes("#slide")) {
                    hidePlaceholderHero();
                } else {
                    return;
                };

            }, false);

            var img = document.getElementById("thumbnailContainer").getElementsByTagName('li');
                for (var i = 0; i < img.length; i++) {
                    img[i].addEventListener('click', hidePlaceholderHero, false);
                    };

            function hidePlaceholderHero() {
                target =  document.getElementById("hero");
                target.style.display = 'none';
            };

            var list = document.getElementById('thumbnailList');
            var selectedListItem;

            list.onclick = function(event) {
                var target = event.target;
            
                while (target != this) {
                    if (target.tagName == 'IMG') {
                        highlight(target);
                        return;
                    }
                target = target.parentNode;
                }
            };
        
            function highlight(node) {
                if (selectedListItem) {
                    selectedListItem.classList.remove('highlight-hero');
                }
                selectedListItem = node;
                selectedListItem.classList.add('highlight-hero');
            };
        </script>
    </body>
</html>
