<div id="banner-container-id" class="banner-container">
        <img src="/assets/images/info.png" alt="">
        <div>
            <p class="sos-text"><b>SOS chat</b> je usluga koja svoj deci i mladim ljudima u Srbiji omogućava da u bilo kom trenutku dobiju savetodavnu podršku putem besplatnog chat-a sa našim savetnicima, ukoliko se nađu u okolnostima u kojima su im ugrožena prava, ili u bilo kojoj drugoj situaciji kada osete potrebu za a poverljivim razgovorom sa kompetentnom osobom.</p>
        </div>
</div>