<footer class="footer-container">
    <section class="footer-main">
        <div class="footer-main-item">
            <h2 class="footer-title">O nama</h2>
                <ul>
                    <li><a href="/o-nadelu.html">O NADELU</a></li>
                    <li><a href="/blog.html">Blog</a></li>
                </ul>
        </div>
        <div class="footer-main-item">
            <h2 class="footer-title">Chat i telefon</h2>
                <ul>
                    <li><a href="/6-12.html">Deca</a></li>
                    <li><a href="/13-18.html">Tinejdžeri</a></li>
                    <li><a href="/19-30.html">Mladi</a></li>
                    <li><a href="/roditelji.html">Roditelji</a></li>
                </ul>
        </div>
        <div class="footer-main-item">
            <h2 class="footer-title">UNICEF</h2>
            <h4 class="footer-subtitle">This platform has been upgraded in partnership with UNICEF</h4>
            <a href="https://www.unicef.org/serbia" target="_blank"><img class="unicef-logo" src="/assets/images/unicef_logo.png" alt=""></a>
            <p class="disclaimer">Disclaimer: The views and opinions expressed in this platform are those of NADEL <br> and do not necessarily reflect the policies or views of UNICEF</p>
        </div>
        <div class="footer-main-item footer-logo-container">
            <h2 class="footer-title">Partneri</h2>
            <a href="http://zvecanska.org.rs" target="_blank"><img class="unicef-logo" src="/assets/images/zvecanska.jpg" alt=""></a>
            <a href="https://www.childhelplineinternational.org" target="_blank"><img class="unicef-logo" src="/assets/images/child-helpline-international.png" alt=""></a>
            <a href="https://www.minrzs.gov.rs/sr" target="_blank"><img class="unicef-logo" src="/assets/images/ministarstvo-za-rad.png" alt=""></a>
        </div>
    </section>
    <section class="footer-social">
        <ul class="footer-social-list">
            <li><a href="https://www.facebook.com/nacionalnadecijalinija/"><i class="fab fa-facebook"></i></a></li>
            <!-- <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#"><i class="fab fa-github"></i></a></li>
            <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fab fa-youtube"></i></a></li> -->
        </ul>
    </section>
    <section class="footer-legal">
        <ul class="footer-legal-list">
            <!-- <li><a href="#">Politika privatnosti</a></li> -->
            <li class="legal-link">&copy; 2020 <a href="https://sipoddigital.com" target="_blank">Sipod Digital.</a> All Rights Reserved.</li>
        </ul>
    </section>
</footer>