.banner-container {
  border-bottom: thin solid grey;
  padding: 0px 30px;
  background-color: #d7f6fa;
  display: flex;
  flex-direction: row;
  padding: 0px 40px;

  h3, p {
    text-align: center;
    color: #555555;
  }
}

