html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  //background-color: #edfbff;
}

.scene-button-container {
  margin-top: 60px;
  text-align: center;
  margin-bottom: 60px;
}

.hide-site {
  display: block;
  position: fixed;
  z-index: 5;
  top: 60%;
  right: -30px;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  font-size: 18px;
  border: thin solid #008c99;
  padding: 8px 24px;
  border-radius: 92px;
  background-color: #008c99;
  color: white;
  text-decoration: none;

  &:hover {
    background-color: white;
    color: #008c99;

    a {
      color: #008c99;
    }
  }

  i {
    padding-left: 5px;
  }
}

@media screen and (max-width: 400px) {
  .main-title {
    font-size: 24px;
  }

  @keyframes animated-text{
    from{width: 0;}
    to{width: 305px;}
  }
}

@media screen and (max-width: 500px) {
  .hide-site {
    font-size: 14px;
    padding: 6px 20px;
  }

  .thumbnail-container {
    display: flex;
    justify-content: space-around;
  }

  .main-title {
    font-size: 32px;
  }

  .hero-subtitle-container {
    display: none;
  }

  @keyframes animated-text{
    from{width: 0;}
    to{width: 305px;}
  }

  .circle-container .circle {
    height: 28em;
  }

  .legal-link {
    font-size: 16px;
  }

  .top-header .top-header-list  {
    justify-content: center;
    padding-left: 0;
    align-items: center;
    font-size: 18px;
  }

  h2.information-title {
    text-align: center;
  }
}

@media screen and (max-width: 825px) {
  .hero-ability-container {
    display: none;
  }

  button.choose-hero-button {
    font-size: 16px;
    padding: 7px 20px;
  }

  li .choose-hero-button-container-sm {
    display: inline;

    .choose-hero-button, .hero-1-button.hero-2-button.hero-3-button.hero-4-button.hero-5-button {
      font-size: 12px;
      width: min-content;
      padding: 6px 22px;
    }
  }

  li .hero-image-button-container {
    display: flex;

    img {
      margin-right: -10px;
    }
  }

  .circle-container  {
    flex-direction: column;
    
    .circle {
      width: 100%;
    }
  }

  .banner-container img {
    display: none;
  }

  .banner-container div {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .banner-container {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .circle-container .circle  {
    height: 35em;
    background-size: 170vh;
  }
}

.error-page {
  display: grid;
  place-items: center;
  margin-top: 13em;
  margin-bottom: 13em;
  color: #555555;
}

.solid {
  border-top: thin solid lightgray;
  width: 96%;
}

.information-container {
  color: #555555;
  padding-top: 15px;
  font-weight: bold;
  max-width: 1300px;
  margin: auto;
  padding-right: 30px;
  padding-left: 30px;

  h2 {
    text-align: left;
  }

  .blog-page-container {
    padding: 0px;
  }

  .information-title {
    font-weight: 600;
    font-size: 36px;
    padding-left: 15px;
  }
}

.blog-post-container {
  margin: auto;
  color: #555555;
  padding: 3em;
  max-width: 1300px;
}

.blog-post-title,
.blog-post-date {
  color: #555555;
  text-align: center;
}

.blog-post-image-container {
  margin: auto;
  //padding: 5em;
}

.blog-post-image {
  margin: auto;
  display: block;
  width: 100%;
}

.blog-post-content-container {
  line-height: 1.75;
}