.navigation-top {
  position: sticky;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  
  a:link {
    text-decoration: none;
    line-height: normal;
    font-weight: bold;
  }

  img {
    height: 100px;
  }

  .logo-container {
    padding: 20px 0px 20px 40px;
    display: flex;
    flex-grow: 1;

    a {
      text-decoration: none;
      display: block;
    }

    a:hover {
      text-decoration: none;
    }
  }

  .list-container {
    display: flex;
    flex-grow: 1.5;
  }
}
  
a {
  color: #464646;
}

.navigation-top a {
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  font-weight: normal;
}
  
.menu-item-active {
  color: #26c7cc;
}
  
.navigation-top {
  overflow: hidden;
}
  
.navigation-top a:hover {
  color: #26c7cc;
}
  
.navigation-top .icon {
  display: none;
}

@media screen and (max-width: 825px) {
  .navigation-top a {display: none;}
  .navigation-top a.icon {
    display: block;
    text-align: center;
    margin: 20px;
  }

  .navigation-top .logo-container {
    display: flex;
    justify-content: center;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
  }
}
  
@media screen and (max-width: 825px) {
  .navigation-top {
    display: flex;
  }

  .navigation-top.responsive i {
    margin-top: 17px
  }

  .navigation-top.responsive .list-container {
    position: relative;
    display: block;
    a {
      margin-top: 15px;
      margin-bottom: 10px;
      padding-bottom: 5px;
      padding-top: 5px;
    } 
    .icon {
      margin-top: 0px;
    }
  }

  .list-container {
    justify-content: flex-end;
  }


  .navigation-top.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .navigation-top.responsive a {
    display: block;
  }

  .navigation-top {
    border-bottom: thin solid lightgray;
  }
}

@media screen and (max-width: 500px) {
  .navigation-top {
    display: flex;
  }

  .navigation-top img {
    height: 70px;
  }
}

.list-container a {
  position: relative;
}

.list-container i:before {
  background-color: unset;
}

.list-container a:before,
.list-container a:after {
  position: absolute;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.list-container a:before {
  bottom: 0;
  display: block;
  height: 3px;
  width: 0%;
  content: "";
  background-color: #26c7cc;
}

a.icon::before {
  background-color: unset;
}

.list-container a:hover:before,
.list-container .menu-item-active a:before {
  opacity: 1;
  width: 100%;
}