---
layout: default
---

<div class="blog-post-container">
  <h1 class="blog-post-title">{{ page.title }}</h1>

  <p class="blog-post-date">
    {{ page.date | date_to_string }}
    {% assign author = site.authors | where: 'short_name', page.author | first %}
    {% if author %}
      - <a href="{{ author.url }}">{{ author.name }}</a>
    {% endif %}
  </p>
  <div class="blog-post-image-container">
    <img class="blog-post-image" src="{{ page.thumbnail }}" alt="">
  </div>
  <div class="blog-post-content-container">
    {{ content }}
    {% include share-bar.html %}
  </div>
</div>